@model Locadora.Models.Financiamento

@Html.AntiForgeryToken()

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Financiamentos</h4>
    <hr class="my-4">
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.VeiculoId) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.DropDownListFor(x => x.VeiculoId, new SelectList(ViewBag.Veiculos, "Id", "Placa"), "Selecione...", new { @class = "form-control selectpicker", data_live_search = "true" })
    @Html.ValidationMessageFor(m => m.VeiculoId)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.DataDeVencimentoDaPrimeiraParcela) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.DataDeVencimentoDaPrimeiraParcela, new { @class = "form-control date datepicker-basic" })
    @Html.ValidationMessageFor(m => m.DataDeVencimentoDaPrimeiraParcela)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.QuantidadeDeParcelas) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.QuantidadeDeParcelas, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.QuantidadeDeParcelas)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.ValorDaParcela) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.ValorDaParcela, new { @class = "form-control money" })
    @Html.ValidationMessageFor(m => m.ValorDaParcela)
</div>

<div class="form-group col-md-12">
    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light" onclick="javascript:void(0)">Salvar</button>
</div>