@model IEnumerable<Financiamento>

<table id="example" class="table table-responsive table-striped table-bordered display" style="width:100%">
    <thead>
        <tr>
            <th>Veículo</th>
            <th>Parcelas Pagas</th>
            <th>Valor da Parcela</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Veiculo.Placa</td>
            <td>@item.ParcelasVigentes</td>
            <td>@item.ValorDaParcela</td>
            <td class="text-nowrap" width="10">
                <a onclick="ParcelasDoFinanciamento.carregar(@item.Id)" id="btn-parcelas" class="btn btn-circle btn-success btn-sm" title="Parcelas" btn-sm" href="#" data-togle="tooltip">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a id="btn-excluir" class="btn btn-circle btn-danger btn-sm" title="Excluir" btn-sm" href="@Url.Action("Remover", new { id = item.Id })" data-togle="tooltip">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>