@model Locadora.Models.Multa

@Html.AntiForgeryToken()

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Multas</h4>
    <hr class="my-4">
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(m => m.VeiculoId) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.DropDownListFor(x => x.VeiculoId, new SelectList(ViewBag.Veiculos, "Id", "Placa"), "Selecione...", new { @class = "form-control selectpicker", data_live_search = "true" })
    @Html.ValidationMessageFor(m => m.VeiculoId)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.NomeInfrator) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.NomeInfrator, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.NomeInfrator)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.CpfInfrator) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.CpfInfrator, new { @class = "form-control cpf" })
    @Html.ValidationMessageFor(m => m.CpfInfrator)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.ValorMulta) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.ValorMulta, new { @class = "form-control money" })
    @Html.ValidationMessageFor(m => m.ValorMulta)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.DataDeVencimento) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.DataDeVencimento, new { @class = "form-control date datepicker-basic" })
    @Html.ValidationMessageFor(m => m.DataDeVencimento)
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(m => m.Observacoes) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextAreaFor(m => m.Observacoes, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Observacoes)
</div>

<div class="form-group col-md-12">
    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light" onclick="javascript:void(0)">Salvar</button>
</div>