@model Locacao

@Html.HiddenFor(m => m.Cliente.ImageBase64String)

<div class="form-group col-md-12">
    <div class=" span3 well">
    <center>
        <a href="#image-perfil" data-toggle="modal" data-target="#modal-fotografia">
            <img src="@Url.Action("MostrarFotoDePerfil", "Cliente", new { cpf = Model?.Cliente?.Cpf })" id="image-perfil" name="image-perfil" width="140" height="140" class="img-circle">
        </a>
        @if (Model?.Cliente != null && !string.IsNullOrEmpty(Model?.Cliente.Nome))
        {
            <h3>@Model.Cliente.Nome</h3>
        }
        else
        {
            <h3>Fotografia do cliente</h3>
        }
    </center>
</div>
</div>

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Locatário</h4>
    <hr class="my-4">
</div>

@if (Model != null && Model.Cliente != null && !string.IsNullOrEmpty(Model.Cliente.Cpf))
{
    <div class="form-group col-md-2">
        @Html.HiddenFor(m => m.Cliente.Cpf)
        @Html.LabelFor(m => m.Cliente.Cpf) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.Cliente.Cpf, new { @class = "form-control cpf", data_url = Url.Action("BuscarCpfExistente", "Retirada"), @disabled = "" })
        @Html.ValidationMessageFor(m => m.Cliente.Cpf)
    </div>
}
else
{
    <div class="form-group col-md-2">
        @Html.LabelFor(m => m.Cliente.Cpf) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.Cliente.Cpf, new { @class = "form-control cpf", data_url = Url.Action("BuscarCpfExistente", "Retirada") })
        @Html.ValidationMessageFor(m => m.Cliente.Cpf)
    </div>
}

<div class="form-group col-md-5">
    @Html.LabelFor(m => m.Cliente.Nome) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Nome, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Nome)
</div>

<div class="form-group col-md-5">
    @Html.LabelFor(m => m.Cliente.NomeMae) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.NomeMae, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.NomeMae)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.EstadoCivil) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.DropDownListFor(m => m.Cliente.EstadoCivil, new SelectList(Enum.GetValues(typeof(EstadoCivil))), "Selecione...", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.EstadoCivil)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Naturalidade) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Naturalidade, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Naturalidade)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.EstadoNascimento) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.DropDownListFor(m => m.Cliente.EstadoNascimento, new SelectList(Enum.GetValues(typeof(Estado))), "Selecione...", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.EstadoNascimento)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Profissao) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Profissao, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Profissao)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Nacionalidade) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Nacionalidade, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Nacionalidade)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.DataNascimento) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.DataNascimento, new { @class = "form-control date" })
    @Html.ValidationMessageFor(m => m.Cliente.DataNascimento)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.ClienteEstrangeiro) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.DropDownListFor(m => m.Cliente.ClienteEstrangeiro, new SelectList(
    new[]
    {
        new { Value = "", Text = "Selecione..." },
        new { Value = "true", Text = "Sim" },
        new { Value = "false", Text = "Não" },
    }, "Value", "Text"),
    new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.ClienteEstrangeiro)
</div>

@if (Model != null && Model.Cliente != null && Model.Cliente.ClienteEstrangeiro)
{
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.DocumentoIdentificacaoEstrangeiro) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.Cliente.DocumentoIdentificacaoEstrangeiro, new { @class = "form-control", placeholder = "Registro Nacional de Estrangeiros (RNE)" })
        @Html.ValidationMessageFor(m => m.Cliente.DocumentoIdentificacaoEstrangeiro)
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.Rg) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.Cliente.Rg, new { @class = "form-control", @disabled = "" })
        @Html.ValidationMessageFor(m => m.Cliente.Rg)
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.OrgaoExpedidorRg) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.DropDownListFor(m => m.Cliente.OrgaoExpedidorRg, new SelectList(Enum.GetValues(typeof(OrgaoExpedidorRg))), "Selecione...", new { @class = "form-control", @disabled = "" })
        @Html.ValidationMessageFor(m => m.Cliente.OrgaoExpedidorRg)
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.EstadoOrgaoExpedidor) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.DropDownListFor(m => m.Cliente.EstadoOrgaoExpedidor, new SelectList(Enum.GetValues(typeof(Estado))), "Selecione...", new { @class = "form-control", @disabled = "" })
        @Html.ValidationMessageFor(m => m.Cliente.EstadoOrgaoExpedidor)
    </div>
}
else
{
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.DocumentoIdentificacaoEstrangeiro) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.Cliente.DocumentoIdentificacaoEstrangeiro, new { @class = "form-control", placeholder = "Registro Nacional de Estrangeiros (RNE)", @disabled = "" })
        @Html.ValidationMessageFor(m => m.Cliente.DocumentoIdentificacaoEstrangeiro)
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.Rg) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.Cliente.Rg, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.Rg)
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.OrgaoExpedidorRg) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.DropDownListFor(m => m.Cliente.OrgaoExpedidorRg, new SelectList(Enum.GetValues(typeof(OrgaoExpedidorRg))), "Selecione...", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.OrgaoExpedidorRg)
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Cliente.EstadoOrgaoExpedidor) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.DropDownListFor(m => m.Cliente.EstadoOrgaoExpedidor, new SelectList(Enum.GetValues(typeof(Estado))), "Selecione...", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cliente.EstadoOrgaoExpedidor)
    </div>
}

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Documento de Habilitação</h4>
    <hr class="my-4">
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Cnh) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Cnh, new { @class = "form-control", placeholder = "Número da CNH" })
    @Html.ValidationMessageFor(m => m.Cliente.Cnh)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.DataDeVencimentoDaCnh) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.DataDeVencimentoDaCnh, new { @class = "form-control date" })
    @Html.ValidationMessageFor(m => m.Cliente.DataDeVencimentoDaCnh)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.CatCnh) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.ListBoxFor(m => m.Cliente.CatCnh, new MultiSelectList(Enum.GetValues(typeof(CategoriaHabilitacao))), new { @class = "selectpicker form-control", multiple = "multiple", title = "Selecionar categoria..." })
    @Html.ValidationMessageFor(m => m.Cliente.CatCnh)
</div>

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Contatos</h4>
    <hr class="my-4">
</div>

<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Cliente.TelefoneMovel) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.TelefoneMovel, new { @class = "form-control telefonemovel" })
    @Html.ValidationMessageFor(m => m.Cliente.TelefoneMovel)
</div>

<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Cliente.TelefoneFixo)
    @Html.TextBoxFor(m => m.Cliente.TelefoneFixo, new { @class = "form-control telefonefixo" })
    @Html.ValidationMessageFor(m => m.Cliente.TelefoneFixo)
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(m => m.Cliente.Email) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Email)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.TelefoneMovel1)
    @Html.TextBoxFor(m => m.Cliente.TelefoneMovel1, new { @class = "form-control telefonemovel" })
    @Html.ValidationMessageFor(m => m.Cliente.TelefoneMovel1)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.TelefoneMovel2)
    @Html.TextBoxFor(m => m.Cliente.TelefoneMovel2, new { @class = "form-control telefonemovel" })
    @Html.ValidationMessageFor(m => m.Cliente.TelefoneMovel2)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.TelefoneMovel3)
    @Html.TextBoxFor(m => m.Cliente.TelefoneMovel3, new { @class = "form-control telefonemovel" })
    @Html.ValidationMessageFor(m => m.Cliente.TelefoneMovel3)
</div>

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Endereço</h4>
    <hr class="my-4">
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Cep) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Cep, new { @class = "form-control cep" })
    @Html.ValidationMessageFor(m => m.Cliente.Cep)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Rua) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Rua, new { @class = "form-control", placeholder = "Exemplo: Rua das Flores ou Av. Jorge Teixeira." })
    @Html.ValidationMessageFor(m => m.Cliente.Rua)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Numero) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Numero, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Numero)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Bairro) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Bairro, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Bairro)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Cidade) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Cliente.Cidade, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Cidade)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Cliente.Estado) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.DropDownListFor(m => m.Cliente.Estado, new SelectList(Enum.GetValues(typeof(Estado))), "Selecione...", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Cliente.Estado)
</div>

<div class="form-group col-md-12">
    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light" onclick="javascript:void(0)">Salvar</button>
</div>