@model Locacao

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Detalhes da locação</h4>
    <hr class="my-4">
</div>

@if (!Model.ValidarCamposLocacao())
{
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.AcessoriosIds)
        @Html.ListBoxFor(x => x.AcessoriosIds, new MultiSelectList(ViewBag.Acessorios, "Id", "Descricao"), new { @class = "form-control selectpicker", data_live_search = "true", title = "Selecione os acessórios...", data_size = "5" })
        @Html.ValidationMessageFor(m => m.AcessoriosIds)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.DataRetirada) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.DataRetirada, new { @class = "form-control date datepicker", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.DataRetirada)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.HorarioDeSaida) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.HorarioDeSaida, new { @class = "form-control time timepicker", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.HorarioDeSaida)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.DataPrevistaDeDevolucao) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.DataPrevistaDeDevolucao, new { @class = "form-control date datepicker", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.DataPrevistaDeDevolucao)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.HorarioDeChegada) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.HorarioDeChegada, new { @class = "form-control time timepicker", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.HorarioDeChegada)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.PrecoCombinado) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.PrecoCombinado, new { @class = "form-control money" })
        @Html.ValidationMessageFor(m => m.PrecoCombinado)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.QuilometragemAtual) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.QuilometragemAtual, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.QuilometragemAtual)
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.ObservacoesDeSaida)
        @Html.TextAreaFor(m => m.ObservacoesDeSaida, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.ObservacoesDeSaida)
    </div>
}
else
{
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.AcessoriosIds)
        @Html.ListBoxFor(x => x.AcessoriosIds, new MultiSelectList(ViewBag.Acessorios, "Id", "Descricao"), new { @class = "form-control selectpicker", data_live_search = "true", title = "Selecione os acessórios...", data_size = "5", disabled = "" })
        @Html.ValidationMessageFor(m => m.AcessoriosIds)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.DataRetirada) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.DataRetirada, new { @class = "form-control date datepicker", autocomplete = "off", disabled = "" })
        @Html.ValidationMessageFor(m => m.DataRetirada)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.HorarioDeSaida) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.HorarioDeSaida, new { @class = "form-control time", autocomplete = "off", disabled = "" })
        @Html.ValidationMessageFor(m => m.HorarioDeSaida)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.DataPrevistaDeDevolucao) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.DataPrevistaDeDevolucao, new { @class = "form-control date datepicker", autocomplete = "off", disabled = "" })
        @Html.ValidationMessageFor(m => m.DataPrevistaDeDevolucao)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.HorarioDeChegada) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.HorarioDeChegada, new { @class = "form-control time", autocomplete = "off", disabled = "" })
        @Html.ValidationMessageFor(m => m.HorarioDeChegada)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.PrecoCombinado) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.PrecoCombinado, new { @class = "form-control money", disabled = "" })
        @Html.ValidationMessageFor(m => m.PrecoCombinado)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.QuilometragemAtual) <label style="color: red" title="Este campo é obrigatório">*</label>
        @Html.TextBoxFor(m => m.QuilometragemAtual, new { @class = "form-control", type = "number", disabled = "" })
        @Html.ValidationMessageFor(m => m.QuilometragemAtual)
    </div>

    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.ObservacoesDeSaida)
        @Html.TextAreaFor(m => m.ObservacoesDeSaida, new { @class = "form-control", type = "number", disabled = "" })
        @Html.ValidationMessageFor(m => m.ObservacoesDeSaida)
    </div>
}

@if (!Model.ValidarCamposLocacao())
{
    <div class="form-group col-md-12" style="margin-bottom: 0px">
        <h4>Veículos disponíveis</h4>
        <hr class="my-4">
    </div>
}
else
{
    <div class="form-group col-md-12" style="margin-bottom: 0px">
        <h4>Veículos da locação</h4>
        <hr class="my-4">
    </div>
}

<div data-url="@Url.Action("ObterVeiculosDisponiveis", "Retirada")" id="veiculos-disponiveis" class="form-group col-md-12"></div>

@if (!Model.ValidarCamposLocacao())
{
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light" onclick="javascript:void(0)">Salvar</button>
    </div>
}