@model Locacao
@{
    ViewBag.Title = "Nova Locação";
}

@section styles
{
    <link rel="stylesheet" href="~/plugin/bootstrap-select/css/bootstrap-select.css" />
    <style>
        .box-content.card .dropdown {
            top: 0px !important;
        }
    </style>

    <!-- FullCalendar -->
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.print.css" media='print'>
}

@section scripts
{
    <script src="~/plugin/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/plugin/bootstrap-select/js/i18n/defaults-pt_BR.js"></script>
    <script src="~/plugin/pdfmake/pdfmake.js"></script>
    <script src="~/plugin/pdfmake/vfs_fonts.js"></script>
    <script src="~/scripts/caso.js"></script>
    <script src="~/scripts/impressao.js"></script>
    <script src="~/scripts/estrangeiro.js"></script>

    <!-- Jquery UI -->
    <script src="~/plugin/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugin/jquery-ui/jquery.ui.touch-punch.min.js"></script>

    <!-- FullCalendar -->
    <script src="~/plugin/moment/moment.js"></script>
    <script src="~/plugin/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/plugin/fullcalendar/locale/pt-br.js"></script>

    <!-- Datepicker -->
    <link rel="stylesheet" href="~/plugin/datepicker/css/bootstrap-datepicker.min.css">

    <!-- Datepicker -->
    <script src="~/plugin/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugin/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <script src="~/scripts/tarefas.js"></script>
}

@section modal
{
    @*@await Html.PartialAsync("_NovoAcompanhamento")
    @await Html.PartialAsync("_NovaTarefa")
    @await Html.PartialAsync("_FinalizarTarefa")
    @await Html.PartialAsync("_AlterarResponsavel")
    @await Html.PartialAsync("_AlterarPrazo")
    @await Html.PartialAsync("_AnexarDocumento")
    @await Html.PartialAsync("_ParametrosContrato")
    <div data-url="@Url.Action("DetalhesTarefa", "Tarefa")" class="modal fade" id="modalDetalhesTarefa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>*@
}

<div class="col-md-12 col-xs-12">
    <div class="box-content">
        <h4 class="box-title">@ViewBag.Title</h4>
        <ul class="nav nav-tabs">
            <li id="menu-dadospessoais" class="active" data-caso-id="0"><a data-toggle="tab" href="#dadospessoais">Dados Pessoais</a></li>
            <li id="menu-questionario" class="disabled"><a data-toggle="tab" href="#questionario">Questionário</a></li>
            <li id="menu-documentos" class="disabled"><a data-toggle="tab" href="#documentos">Documentos Exigidos</a></li>
            <li id="menu-impressao" class="disabled"><a data-toggle="tab" href="#impressao">Impressões</a></li>
            <li id="menu-acompanhamento" class="disabled"><a data-toggle="tab" href="#acompanhamento">Acompanhamento</a></li>
            <li id="menu-tarefas" class="disabled"><a data-toggle="tab" href="#tarefas">Tarefas</a></li>
        </ul>
        <div class="tab-content">
            <div id="dadospessoais" class="tab-pane fade in active" data-url="@Url.Action("DadosPessoais", "Retirada")">
                <div class="row">
                    @using (Html.BeginForm("SalvarCasoComDadosPessoais", "Retirada", FormMethod.Post, new { @class = "form", id = "frmSalvarCasoComDadosPessoais" }))
                    {
                        <div id="frm-conteudo-dadospessoais"></div>
                    }
                </div>
            </div>
            <div id="questionario" class="tab-pane fade disabled" data-url="@Url.Action("Questionario", "Caso")">
                @using (Html.BeginForm("SalvarCasoComQuestionario", "Caso", FormMethod.Post, new { @class = "form", id = "frmSalvarCasoComQuestionario" }))
                {
                    <div id="frm-conteudo-questionario" class="row"></div>
                }
            </div>
            <div id="documentos" class="tab-pane fade disabled" data-url="@Url.Action("Documentos", "Caso")">
                @using (Html.BeginForm("SalvarCasoComDocumento", "Caso", FormMethod.Post, new { @class = "form", id = "frmSalvarCasoComDocumento" }))
                {
                    <div id="frm-conteudo-documento" class="row"></div>
                }
            </div>
            <div id="impressao" class="tab-pane fade disabled">
                <div id="frm-conteudo-impressao" class="row">
                    @*@await Html.PartialAsync("_Impressao")*@
                </div>
            </div>
            <div id="acompanhamento" class="tab-pane fade disabled" data-url="@Url.Action("Movimentos", "Caso")">
                <div id="frm-conteudo-acompanhamento" class="row"></div>
            </div>
            <div id="tarefas" class="tab-pane fade disabled" data-url="@Url.Action("Tarefas", "Caso")">
                <div id="frm-conteudo-tarefas" class="row">
                    @*@await Html.PartialAsync("_Tarefas")*@
                </div>
            </div>
        </div>
    </div>
</div>