@model Locacao
@{
    ViewBag.Title = "Nova Locação";
}

@section styles
{
    <link rel="stylesheet" href="~/plugin/bootstrap-select/css/bootstrap-select.css" />
    <style>
        .box-content.card .dropdown {
            top: 0px !important;
        }
    </style>

    <!-- FullCalendar -->
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/plugin/fullcalendar/fullcalendar.print.css" media='print'>
}

@section scripts
{
    <script src="~/plugin/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/plugin/bootstrap-select/js/i18n/defaults-pt_BR.js"></script>
    <script src="~/plugin/pdfmake/pdfmake.js"></script>
    <script src="~/plugin/pdfmake/vfs_fonts.js"></script>
    <script src="~/scripts/caso.js"></script>
    <script src="~/scripts/impressao.js"></script>
    <script src="~/scripts/estrangeiro.js"></script>

    <!-- Jquery UI -->
    <script src="~/plugin/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugin/jquery-ui/jquery.ui.touch-punch.min.js"></script>

    <!-- FullCalendar -->
    <script src="~/plugin/moment/moment.js"></script>
    <script src="~/plugin/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/plugin/fullcalendar/locale/pt-br.js"></script>

    <!-- Datepicker -->
    <link rel="stylesheet" href="~/plugin/datepicker/css/bootstrap-datepicker.min.css">

    <!-- Datepicker -->
    <script src="~/plugin/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugin/datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>

}

<div class="col-md-12 col-xs-12">
    <div class="box-content">
        <h4 class="box-title">@ViewBag.Title</h4>
        <ul class="nav nav-tabs">
            <li id="menu-dadospessoais" class="active" data-locacao-id="0"><a data-toggle="tab" href="#dadospessoais">Dados Pessoais</a></li>
            <li id="menu-locacao" class="disabled"><a data-toggle="tab" href="#locacao">Locação</a></li>
        </ul>
        <div class="tab-content">
            <div id="dadospessoais" class="tab-pane fade in active" data-url="@Url.Action("DadosPessoais", "Retirada")">
                <div class="row">
                    @using (Html.BeginForm("SalvarLocacao", "Retirada", FormMethod.Post, new { @class = "form", id = "frmSalvarLocacaoComDadosPessoais" }))
                    {
                        <input type="hidden" id="Step" name="Step" value="DadosPessoais" />

                        <span class="identificador-locacao">
                            <input type="hidden" id="Id" name="Id" value="@(Model != null ? Model.Id : 0)" />
                        </span>

                        <input type="hidden" id="ClienteId" name="ClienteId" value="@(Model != null ? Model.ClienteId : 0)" />

                        <div id="frm-conteudo-dadospessoais"></div>
                    }
                </div>
            </div>
            <div id="locacao" class="tab-pane fade disabled" data-url="@Url.Action("Locacao", "Retirada")">
                @using (Html.BeginForm("SalvarLocacao", "Retirada", FormMethod.Post, new { @class = "form", id = "frmSalvarLocacao" }))
                {
                    <input type="hidden" id="Step" name="Step" value="Locacao" />

                    <span class="identificador-locacao">
                        <input type="hidden" id="Id" name="Id" value="@(Model != null ? Model.Id : 0)" />
                    </span>

                    <div id="frm-conteudo-locacao" class="row"></div>
                }
            </div>
        </div>
    </div>
</div>