@model Locadora.Models.Veiculo

@Html.AntiForgeryToken()

<div class="form-group col-md-12" style="margin-bottom: 0px">
    <h4>Veículo</h4>
    <hr class="my-4">
</div>

<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Marca) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Marca)
</div>

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.Modelo) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Modelo, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Modelo)
</div>

<div class="form-group col-md-2">
    @Html.LabelFor(m => m.AnoDeModelo) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.AnoDeModelo, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.AnoDeModelo)
</div>

<div class="form-group col-md-2">
    @Html.LabelFor(m => m.AnoDeFabricacao) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.AnoDeFabricacao, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.AnoDeFabricacao)
</div>

<div class="form-group col-md-2">
    @Html.LabelFor(m => m.Placa) <label style="color: red" title="Este campo é obrigatório">*</label>
    @Html.TextBoxFor(m => m.Placa, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Placa)
</div>

@if (Model != null)
{
    <div class="form-group col-md-12" style="margin-bottom: 0px">
        <h4>Fotos do veículo</h4>
        <hr class="my-4">
    </div>

    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">Salvar alterações</button>
        <button onclick="$('#modalAnexarFoto').modal('show')" type="button" class="btn btn-success btn-sm waves-effect waves-light">Incluir fotos</button>
    </div>
}
else
{
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">Salvar alterações</button>
    </div>
}

<div class="form-group col-md-12">
    <div class="prj-list row">
        @if (Model != null && Model.FotosDeGaragem != null && Model.FotosDeGaragem.Any())
        {
            foreach (var item in Model.FotosDeGaragem.Where(x => x.Ativo).OrderByDescending(x => x.DataDeRegistro))
            {
                <div class="col-lg-4 col-md-6 col-xs-12 margin-bottom-30">
                    <div class="prj-item">
                        <div class="top-project-section">
                            <a target="_blank" href="@Url.Content($"~/Uploads/Fotos/{item.Caminho}")" class="project-icon">
                                <img src="@Url.Content($"~/Uploads/Fotos/{item.Caminho}")" width="184" height="170" alt="">
                            </a>
                            <h3>@item.Descricao</h3>
                            <div class="meta">
                                <p class="author">
                                    Data: <span>@item.DataDeRegistro.ToShortDateString()</span>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-project-section">
                            <div class="meta">
                                <div class="points @(item.Principal ? "success" : "danger")">
                                    <i class="fa fa-image"></i> @(item.Principal ? "Principal" : "Imagem")
                                </div>
                                <span class="feedable-time timeago">
                                    <a href="@Url.Action("ExcluirFoto", new { id = item.Id })"> Excluir</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>