<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Title Page -->
    <title>Norte Locadora</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="~/styles/style.css?v=1">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="~/fonts/themify-icons/themify-icons.css?v=1">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="~/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css?v=1">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="~/plugin/waves/waves.min.css?v=1">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="~/plugin/sweet-alert/sweetalert.css?v=1">

    <!-- Validations -->
    <link href="~/styles/validation.css?v=1" rel="stylesheet" />

    @RenderSection("styles", required: false)

</head>

<body>
    <div class="main-menu">

        <header class="header">
            <a href="@Url.Action("Index", "Quadro")" class="logo">
                <span style="color:#a5bb94"></span> Norte Locadora
            </a>
            <button type="button" class="button-close fa fa-times js__menu_close"></button>
        </header>

        <div class="content">
            <div class="navigation">
                <h5 class="title">Operacional</h5>
                <ul class="menu js__accordion">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="waves-effect"><i class="menu-icon ti-calendar"></i><span>Agenda</span></a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Retirada" asp-action="Index" class="waves-effect"><i class="menu-icon ti-pencil-alt"></i><span>Retirada</span></a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Devolucao" asp-action="Index" class="waves-effect"><i class="menu-icon ti-check-box"></i><span>Devolução</span></a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Cliente" asp-action="Index" class="waves-effect"><i class="menu-icon ti-id-badge"></i><span>Clientes</span></a>
                    </li>
                </ul>
                <h5 class="title">Garagem</h5>
                <ul class="menu js__accordion">
                    <li>
                        <a asp-area="" asp-controller="Veiculo" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-car"></i><span>Veículos</span></a>
                        <a asp-area="" asp-controller="Multa" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-alert"></i><span>Multas</span></a>
                        <a asp-area="" asp-controller="Acessorio" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-mobile"></i><span>Acessórios</span></a>
                    </li>
                </ul>
                <h5 class="title">Manutenção</h5>
                <ul class="menu js__accordion">
                    <li>
                        <a asp-area="" asp-controller="Corretiva" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-hummer"></i><span>Corretiva</span></a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Preventiva" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-spray"></i><span>Preventiva</span></a>
                    </li>
                </ul>
                <h5 class="title">Financeiro</h5>
                <ul class="menu js__accordion">
                    <li>
                        <a asp-area="" asp-controller="Financiamento" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-money"></i><span>Financiamentos</span></a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Despesa" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-stats-down"></i><span>Despesas</span></a>
                    </li>
                </ul>
                <h5 class="title">Administrativo</h5>
                <ul class="menu js__accordion">
                    <li>
                        <a asp-area="" asp-controller="Funcionario" asp-action="Index" class="waves-effect"><i class="menu-icon ti ti-user"></i><span>Funcionários</span></a>
                    </li>
                </ul>
            </div>

            @(await Component.InvokeAsync("Notificacao"))

        </div>
    </div>

    <div class="fixed-navbar">
        <div class="pull-left">
            <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
            <h1 class="page-title">
                @DateTime.Now.ToLongDateString()
            </h1>
        </div>

        <div class="pull-right">

            <a href="#" class="ico-item ti-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a>

            <div class="ico-item">
                <i class="ti-user"></i>
                <ul class="sub-ico-item">
                    <li><a href="#" onclick="AlterarSenha.abrirModal()">Alterar Senha</a></li>
                    <li><a href="@Url.Action("Sair", "Conta")">Sair</a></li>
                </ul>
            </div>
        </div>

        <div class="pull-right">
            <div style="margin-left: 15px; line-height: 50px;">
                <p>Leonardo</p>
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div class="main-content">
            @RenderBody()
        </div>
    </div>

    <script src="~/scripts/jquery.min.js?v=1"></script>
    <script src="~/scripts/modernizr.min.js?v=1"></script>
    <script src="~/plugin/bootstrap/js/bootstrap.min.js?v=1"></script>
    <script src="~/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js?v=1"></script>
    <script src="~/plugin/nprogress/nprogress.js?v=1"></script>
    <script src="~/plugin/sweet-alert/sweetalert.min.js?v=1"></script>
    <script src="~/plugin/waves/waves.min.js?v=1"></script>
    <script src="~/plugin/chart/sparkline/jquery.sparkline.min.js?v=1"></script>
    <script src="~/scripts/chart.sparkline.init.min.js?v=1"></script>
    <script src="~/scripts/main.min.js?v=1"></script>
    <script src="~/scripts/global.js?v=1"></script>
    <script src="~/plugin/jquery-mask/jquery.mask.js?v=1"></script>
    <script src="~/scripts/globalmask.js?v=1"></script>

    <script>
        $(function () {

            "use strict";

            window.AlterarSenha = window.AlterarSenha || {};

            AlterarSenha.abrirModal = function () {
                $("#modalAlterarSenha").modal("show");
            };

            AlterarSenha.salvarSenha = function () {
                var novaSenha = $("#NovaSenha").val();
                var url = $("#modalAlterarSenha").data("url");
                $.ajax({
                    method: "POST",
                    url: url,
                    data: { novaSenha: novaSenha },
                    success: function (result) {
                        if (result.Success) {
                            swal("Mensagem", result.Success, "success");
                            $("#modalAlterarSenha").modal("hide");
                        }
                        if (result.Error) {
                            swal("Mensagem", result.Error, "warning");
                        }
                    },
                    error: function error(XMLHttpRequest, textStatus, errorThrown) {
                        swal("Mensagem", errorThrown, "error");
                    }
                });

                $("#modalAlterarSenha").modal("show");
            };
        });

        $(function () {

            "use strict";

            window.Notificacao = window.Notificacao || {};         

            Notificacao.abrir = function () {
                $("#modal-visualizar-notificacao").modal("show");
            };

            Notificacao.exibir = function (id) {  
                var url = $("#modal-visualizar-notificacao").data("url");
                $.ajax({
                    method: "GET",
                    url: url,
                    data: { id: id },
                    success: function (result) {                      
                        $("#modal-visualizar-notificacao").html(result);
                        Notificacao.abrir();
                    },
                    error: function error(XMLHttpRequest, textStatus, errorThrown) {
                        swal("Mensagem", errorThrown, "error");
                    }
                });
            };
        });
    </script>
    @await RenderSectionAsync("scripts", required: false)
    @await RenderSectionAsync("modal", required: false)
    @await Html.PartialAsync("_VisualizarNotificacao")
</body>
</html>